[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
codecov = "~=2.0"
flake8 = "~=3.7"
isort = "~=4.3"
mypy = "~=0.770"
pytest = "~=5.4"
pytest-cov = "~=2.8"
twine = "~=3.1"
wheel = "~=0.35"

[packages]

[requires]
python_version = "3.7"
